<div class="right_content">
  <div class="page-title">
    <div class="title_left">
      <h3>TypeScipt And SPA</h3>
    </div>
  </div>
  <ul>
    <li>
      <h6>TypeScript:</h6>
      <ol>
        <li>Superset of JavaScript</li>
        <li>Complies into plain JavaScript</li>

      </ol>
      <!-- <p>TypeScript is a superset of JavaScript, it means when you write any code in TypeScript it complies into plain
        JavaScript code. We can create JavaScript applications for client and server side using TypeScript..</p> -->
    </li>

    <li>
      <h6>Why TypeScript?:</h6>
      <ol>
        <li>OOPS</li>
        <li>Static type checking</li>
        <li>Dynamic variables (incase multiple developer or large application)</li>
      </ol>
      <!-- <p>We can create both client and server side application using JavaScript, then why there was need of TypeScript
        ?.</p>
      <ol>
        <li>
          <p>TypeScript is an Object Oriented Programming language, which possess all the features of OOPs concept hence
            helps to write more cleaner and robust code</p>
        </li>
        <li>
          <p>TypeScript supports static type checking, thus you can find the error at compile time even before running
            your program thus helps to find errors.</p>
        </li>
        <li>
          <p>When you write large scale application and multiple developers are working on the same project, it becomes
            complex dealing with dynamic variables, hence static type features come into picture and thus TypeScript
            becomes the best option..</p>
        </li>
      </ol> -->
    </li>

    <li>
        <h6>Difference between Java script and Type script:</h6>
        <ol>
          <li>Language</li>
          <li>Error checking</li>
          <li>Modules</li>
          <li>Interface</li>
          <!-- <li>TypesScript is known as Object oriented programming language whereas JavaScript is a scripting language.</li>
          <li>TypeScript has a feature known as Static typing but JavaScript does not have this feature.</li>
          <li>TypeScript gives support for modules whereas JavaScript does not support modules.</li>
          <li>TypeScript has Interface but JavaScript does not have Interface.</li> -->
        </ol>
      </li>
   
      <p></p>

      <li>
          <h6>Applications</h6>
          <ol>
            <li>Classic web development</li>
            <li>Single-page-app (SPA)</li>
          </ol>
          <!-- <p>Classic web development, which renders data into HTML pages on the server, and passes whole HTML files to the client when a new page loads.</p>
          <p>Single-page-app (SPA) does not fetch new HTML from the server to load new pages. Instead, it uses javascript and client-side routing to render new pages instantly. It gets data from the server via AJAX requests and renders that data into content on the client,</p> -->
      </li>
  </ul>

  <img src="assets/images/trad_spa.png" width="60%" height="300px">

</div>