<div class="right_content">
    <div class="page-title">
      <div class="title_left">
        <h3>Angular Life Cycle</h3>
      </div>
    </div>
    <ul>

      <li>Life cycle meaning</li>
      <li>Constructor</li>
    </ul>
    <ul>
      <h4>Life cycle hooks</h4>
      <li>ngOnChanges</li>
      <li>ngOnInit</li>
      <li>ngDoCheck</li>
      <li>ngOnDestroy</li>
      <!-- <li>
          Every Angular component has a lifecycle. Actually, every Angular component and Angular directive have a lifecycle and the following information can be applied to both.
      </li>
      <li>
          Angular creates it, renders it, creates and renders it’s children, checks it when it’s data-bound properties change, and destroys it before removing it from the DOM.
      </li>
      <li>
          That is a very simple description of the sequence of events that an Angular component’s life experiences. These events are called “Lifecycle Hooks”.  Developers can use these lifecycle hooks to do something (run some code) whenever one of these events occur.
      </li> -->
    </ul>

    <!-- <h4>  8 life cycle hooks</h4>
    <ul>
        <li>
          <h6>ngOnChanges():</h6>
           <ol>
              <li>Used in pretty much any component that has an input.</li>
              <li>Called whenever an input value changes.</li>
              <li>Is called the first time before ngOnInit.</li>
            </ol>
        </li>
        <li>
            <h6>ngOnInit():</h6>
             <ol>
                <li>Used to initialize data in a component.</li>
                <li>Called after input values are set when a component is initialized.</li>
                <li>Added to every component by default by the Angular CLI.</li>
                <li>Called only once.</li>
              </ol>
          </li>

          <li>
              <h6>ngDoCheck():</h6>
               <ol>
                  <li>Called during all change detection runs.</li>
                  <li>A run through the view by Angular to update/detect changes.</li>
                </ol>
          </li>

          <li>
              <h6>ngAfterContentInit():</h6>
               <ol>
                  <li>Called only once after first ngDoCheck()</li>
                  <li>Called after the first run through of initializing content.</li>
                </ol>
          </li>
          <li>
              <h6>ngAfterContentChecked():</h6>
               <ol>
                  <li>Called after every ngDoCheck()</li>
                  <li>Waits till after ngAfterContentInit() on first run through</li>
                </ol>
          </li>
          <li>
              <h6>ngAfterViewInit():</h6>
               <ol>
                  <li>Called after Angular initializes component and child component content.</li>
                  <li>Called only once after view is initialized</li>
                </ol>
          </li>
          <li>
              <h6>ngAfterViewChecked():</h6>
               <ol>
                  <li>Called after all the content is initialized and checked. (Component and child components).</li>
                  <li>First call is after ngAfterViewInit()</li>
                  <li>Called after every ngAfterContentChecked() call is completed.</li>
                </ol>
          </li>
          <li>
              <h6>ngOnDestroy():</h6>
               <ol>
                  <li>Used to clean up any necessary code when a component is removed from the DOM.</li>
                  <li>Fairly often used to unsubscribe from things like services</li>
                  <li>Called only once just before component is removed from the DOM.</li>
                </ol>
          </li>
    </ul> -->

</div>