<div class="right_content">
  <div class="page-title">
    <div class="title_left">
      <h3>Routing</h3>
    </div>
  </div>

  <ul>
    <li>Routing/navigation meaning.</li>
    <li>Set the base URL</li>
    <p [style.color]="'blue'">{{base_url}}</p>
    <li>Routing import</li>
    <p [style.color]="'blue'">{{routing_import}}</p>
    <li>Configuration</li>
    <p [style.color]="'blue'">{{config_routes}}</p>
    <p [style.color]="'blue'">{{set_routes}}</p>
    <li>Router outlet</li>
     <p [style.color]="'blue'">{{router_outlet}}</p>
     <li>Router Links</li>
     <p [style.color]="'blue'">{{router_link}}</p>
     <li>Router passing parameters</li>
     <p [style.color]="'blue'">{{param_routes}}</p>
     <p [style.color]="'blue'">{{multi_routes}}</p>
    <li>Lazy Loading</li>
      <ol>
        <li>Initial bundle sizes smaller</li>
        <li>Decreases Initail Load Time </li>
        <li>On-demand</li>
        <li>Fast</li>
      </ol>
      <p [style.color]="'blue'">{{lazy_load}}</p>
  </ul>
</div>