
<div class="right_content">
  <div class="page-title">
      <div class="title_left">
      <h3>Prerequisite Knowledge</h3>
      </div>
  </div>
  <ul>
    <li>HTML</li>
    <li>CSS</li>
    <li>Javascript</li>
    <li>RWD</li>
    <li>Framework</li>
    <li>Bootstrap</li>
    <li>Ajax</li>
    <!-- <li> -->
      <!-- <h6>HTML :(Hyper Text Markup Language)</h6> -->
      <!-- <p>Used to create/describe a web pages and it also tells our browser what to display on page and how to format it.</p> -->
    <!-- </li> -->
    <!-- <li> -->
      <!-- <h6>CSS :(Cascading Style Sheet)</h6> -->
        <!-- <p>Used to control the appearance or presentation of  documents defined with HTML and XHTML. </p> -->
    <!-- </li> -->
    <!-- <li> -->
      <!-- <h6>Javascript :</h6> -->
       <!-- <p>JavaScript is a scripting/programming language used primarily for front-end web development (or writing web browser applications).</p> -->
       <!-- <p>Secondarily, JavaScript is used server-side with Node, and in mobile with React Native and Apache Cordova, and in desktop with Electron. </p> -->
    <!-- </li> -->
    <!-- <li> -->
      <!-- <h6>Responsive Web Design</h6> -->
      <!-- <p>Responsive web design is an approach to web design which makes web pages render well on a variety of devices and window or screen sizes  like.</p> -->
      <!-- <ol> -->
          <!-- <li>Small(Smart Phones)</li> -->
          <!-- <li>Medium (Tablet, Ipad)</li> -->
          <!-- <li>Large(Laptop without full HD, Mac Mini)</li> -->
          <!-- <li>Extra Large(All Full HD laptop & Desktop)</li> -->
        <!-- </ol> -->
      <!-- <p>This can be acheived using Media queries or Bootstrap.</p> -->
    <!-- </li> -->
    <!-- <li> -->
        <!-- <h6>Why Framework</h6> -->
        <!-- <p>A framework is not absolutely necessary: it’s “just” one of the tools that is available to help you develop better and faster!. They typically provide some prebuilt functionality and organization that reduces the amount of code you have to create in order to produce an application.</p> -->
    <!-- </li> -->
    <!-- <li> -->
      <!-- <h6>Bootstrap</h6> -->
      <!-- <p>Bootstrap is open-source front-end web framework for designing websites and web applications. It contains HTML- and CSS-based design templates for typography, forms, buttons, navigation and other interface components.We can say it “Front-end-framework”</p> -->
        <!-- <ol> -->
          <!-- <li>Speed of Development</li> -->
          <!-- <li>Responsiveness</li> -->
          <!-- <li>Easy to get started</li> -->
          <!-- <li>Browser Support</li> -->
          <!-- <li>Customizable</li> -->
        <!-- </ol> -->
    <!-- </li> -->
    <!-- <li> -->
      <!-- <h6>Ajax</h6> -->
      <!-- <p>Ajax is the method of exchanging data with a server, and updating parts of a web page - without reloading the entire page.AJAX is a new technique for creating better, faster, and more interactive web applications with the help of XML, HTML, CSS, and Java Script.</p> -->
    <!-- </li> -->
  </ul>
 
</div>

