<div id="wrapper">

  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link menu_text" routerLink="basics/prerequisite"><span>Prerequisite</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link menu_text" routerLink="basics/about"><span>TypeScript</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link menu_text" routerLink="basics/introduction"><span>Introduction</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link menu_text" routerLink="basics/architecture"><span>Architecture</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link menu_text" routerLink="basics/lifecycle"><span>Lifecycle</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link menu_text" routerLink="basics/installation"><span>Installation</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link menu_text" routerLink="basics/datatypes"><span>Datatypes</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link menu_text" routerLink="advance/router"><span>Routing</span></a>
      </li>
     
      <li class="nav-item">
        <a class="nav-link menu_text" routerLink="advance/parent"><span>I/0</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link menu_text" routerLink="advance/pipelist">Pipes</a>
      </li>

      <li class="nav-item">
        <a class="nav-link menu_text" routerLink="advance/directive">Directives</a>
      </li>

      <li class="nav-item">
        <a class="nav-link menu_text" routerLink="advance/crud"><span>CRUD</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link menu_text" routerLink="advance/list"><span>User list</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link menu_text" routerLink="advance/gallery">Gallery</a>
      </li>

      <li class="nav-item">
        <a class="nav-link menu_text" routerLink="advance/filelist">Files</a>
      </li>
     
    </ul>
  </div>
</div>
<!-- /#wrapper -->
<!-- Menu Toggle Script -->