<div class="right_content">
  <div class="page-title">
    <div class="title_left">
      <h3>Directives </h3>
    </div>
  </div>

  <div class="row">
    <p>Directives in Angular is a js class, which is declared as @directive. We have 3 directives in Angular. The directives are listed below −</p>
  </div>

  <div class="row">
    <h5>Component Directives</h5>
  </div>
  <div class="row">
    <p>These form the main class having details of how the component should be processed, instantiated and used at runtime.</p>
  </div>

  <div class="row">
    <h5>Structural Directives</h5>
    <p>A structure directive basically deals with manipulating the dom elements. Structural directives have a * sign before the directive. For example, *ngIf and *ngFor.</p>
  </div>

  <div class="row">
    <h5>Attribute Directives</h5>
    <p>Attribute directives deal with changing the look and behavior of the dom element. You can create your own directives as shown below.</p>
  </div>

  <div class="row">
    <h5>Custom Directives</h5>
  </div>
  <div class="row">
    <p>Custom directives are created by us and are not standard.</p>
  </div>
  <div class="row">
    <p>Command: ng g directive shadow</p>
  </div>

  <div class="row">
    <p>
      <span [appShadow]="'black'"
      [appShadowX]="'12px'"
      [appShadowY]="'6px'"
      [appShadowBlur]="'30px'">Alligator</span>
    </p>
  </div>
</div>