<div class="right_content">
  <div class="page-title">
    <div class="title_left">
      <h3>Introduction</h3>
    </div>
  </div>
  <ul>
     <li>
      <h6>Angular:</h6>
      <ol>
        <li>Open-source</li>
        <li>Javascript framework</li>
        <li>To build web, desktop, and mobile applications</li>
      </ol>
      <!-- <p>Angular is the most widely used Javascript framework, used by developers for building web, desktop, and mobile
        applications.</p>
      <p>Angular is a TypeScript-based open-source web application framework led by the Angular Team at Google. Angular
        is a complete rewrite from the same team that built AngularJS</p> -->
    </li>

    <li>
      <h6>Versions</h6>
      <ol>
          <li>Angular 2.0 - Angular 8.0</li>
        <!-- <li>Angular 2.0 - released on September 14, 2016.</li>
        <li>Angular 4.0 - released on March 23, 2017.</li>
        <li>Angular 5.0 - released on November 1, 2017.</li>
        <li>Angular 6.0 - released on May 4, 2018.</li>
        <li>Angular 7.0 - released on October 18, 2018.</li>
        <li>Angular 8.0 - released on May 28, 2019..</li> -->
      </ol>
    </li>
   
    <!-- <li>
      <p> </p>
      <h6>Why was Angular 3 skipped:</h6>
      <ol>
        <li>@angular/core which is in a 2.X version</li>
        <li>@angular/http which is in a 2.X version</li>
        <li>@angular/compiler which is in a 2.X version</li>
        <li>@angular/rouer which is in a 3.X version</li>
      </ol>
      <p> </p>
      <p>Here @angular/router which is already in a 3.X version</p>
      <p>Now releasing Angular as version 3, with it’s route on version 4 will create confusion.To avoid this confusion
        they decided to skip the version 3 and release with version 4.0.0, so that every major dependency in the
        MonoRepo are on the right track.</p>
    </li> -->

    <li>
      <p></p>
      <h6>Advantage:</h6>
      <ol>
        <li>Supports TypeScript</li>
        <li>Simple architecture</li>
        <li>Easy Testing</li>
        <li>Modular Structure</li>
        <li>Reusability</li>
        <!-- <li>Comprehensive</li> -->
      </ol>
    </li>

  </ul>
</div>