
<!-- <div class="row">
    <div class="col-lg-2">S.I</div>
    <div class="col-lg-2">Title</div>
    <div class="col-lg-2">Status</div>
    <div class="col-lg-2">Action</div>
  </div>
<div *ngFor = "let user of user_data_list">
  <div class="row">
    <div class="col-lg-2">{{user.userId}}</div>
    <div class="col-lg-2">{{user.title}}</div>
    <div class="col-lg-2">{{user.completed}}</div>
    <div class="col-lg-2">Edit</div>
  </div>
</div> -->

<div class="example-container mat-elevation-z8 right_content">
    <mat-table #table [dataSource]="dataSource"> 
        <ng-container matColumnDef="#">
          <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.id}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="UserID">
          <mat-header-cell *matHeaderCellDef>UserID</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.userId}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Title">
          <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.title}} </mat-cell>
        </ng-container> 
        
        <ng-container matColumnDef="Action">
          <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <a  (click)="edit(element)" class="edit cursor-hand">
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </a>
            <a class="clear cursor-hand" (click)="delete(element.id)">
              <i class="fa fa-times" aria-hidden="true"></i>
            </a>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

      </mat-table>
      <mat-paginator #paginator
                    [pageSize]="10"
                    [pageSizeOptions]="[5, 10, 20]"
                    [showFirstLastButtons]="true">
      </mat-paginator>
</div>
 
